## add vn_pay.yml file with similar properties
external:
  vnpay:
    url: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
    returnUrl: https://yourapp.com/return
    hashSecret: your-secret
    tmnCode: your-code
    command: pay
    time:
      formatter: yyyyMMddHHmmss
      zone: Asia/Ho_Chi_Minh
      expireMinute: 60
